<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista de alumnos</title>
</head>
<body>
    <h1>Aqui se muestran los alumnos</h1>
    
    <table border="2">
        <tr>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Ficha</th>
        </tr>
        
        <tr>
        {% for alumno in alumnos %}
                <td>{{alumno.nombre}}</td>
                <td>{{alumno.edad}}</td>
                <td>{{alumno.ficha}}</td>
            
        </tr>
        {% endfor %}
    </table>
    
    
</body>
</html>